.container {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #999;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s;
   pointer-events: none;
   opacity: 0;
}
.content {
   padding: 20px;
   border-radius: 10px;
   background: #fff;
}
.active {
   pointer-events: all;
   opacity: 1;
}
