.container {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #999;
   display: flex;
   justify-content: center;
   align-items: center;
   pointer-events: none;
   opacity: 0;
}
.container.active {
   pointer-events: all;
   opacity: 1;
}
.content {
   padding: 20px;
   border-radius: 10px;
   background: #fff;
   max-width: 800px;
   width: 100%;
}
.form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

@media screen and (max-width: 800px) {
   .content {
      border-radius: 0;
   }
}